<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>RailsMisterCocktail</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_pack_tag 'application' %>
</head>

<body>

  <div class="navbar-wagon navbar-fixed-top">

    <%= image_tag "logo.png", alt: "Le Wagon", width: 200 %>

  </div>
  <div class="home-banner">
    <h1><span id="banner-typed-text"></span></h1>
  </div>

  <div class="container text-center">

 <%= yield %>

  </div>


  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag "application" %>
</body>
</html>

